/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');

body {
    background-color: #FB6B6B;
    font-family: 'Righteous', cursive;
}

ion-icon{
    font-size: 30px;
}


/* PAGINA INICIAL */
.background-page-initial {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial-menu>img {
    width: 130px;
}

.initial-menu>h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin: 20px 0;
}

.initial-menu>button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px red;
    font-family: 'Recursive', sans-serif;
}


/* PAGINA PERGUNTAS */

/* CONTAINER */
.page-questions {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOPO */
.top-questions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    box-sizing: border-box;
}

.top-questions>h1 {
    font-size: 36px;
    color: #FFFFFF;
}

.top-questions>img {
    width: 60px;
}

/* PERGUNTAS */
.questions {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.questions.done {
    margin-bottom: 250px;
}

.question {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.question>h2 {
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

/* RESPOSTAS */
.answer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative
}

.answer>h2 {
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    font-weight: 300;
}

.answer>img {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* PERGUNTA CORRETA, ERRADA OU MÉDIA */
.correct{
    text-decoration: line-through;
    color: green;
}

.wrong{
    text-decoration: line-through;
    color: red;
}

.middle{
    text-decoration: line-through;
    color: orange;
}

/* BOTOES */

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons > button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
}

.not {
    background-color: red;
}

.almost {
    background-color: orange;
}

.yes {
    background-color: green;
}

/* BASE */
.base {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.resultado{
    display: flex;
    align-items: center;
}

.resultado > img{
    margin-right: 10px;
}

.resultado > h3{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-family: 'Recursive', sans-serif;
    margin: 10px 0;
}

.base.done{
    height: 240px;
}

.base.done > button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Recursive', sans-serif;
    color: #FFFFFF;
    background-color: #FB6B6B;
}

.base>h3 {
    width: 200px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-family: 'Recursive', sans-serif;
    margin: 10px 0;
}

.icons-result{
    display: flex;
}


/* MEDIA DESKTOP */
@media (min-width: 700px){
    .questions{
        width: 400px;
    }

    .top-questions{
        width: 500px;
    }
}